In [1]:
import pandas as pd
import numpy as np
from xlsxwriter.utility import xl_rowcol_to_cell

In [11]:
df = pd.read_excel("VentasRopa.xlsx")
df.head()

,productcategory,productsubcategory,product,saleterritory,Country,City,Sate,Customer,Employee,OrderCount,OrderDate,StandardCost,UnitPrice,UnitPriceDiscount,Discount,ListPrice,SaleswithStandard,NetSales,OrderQuantity,Sales
0,Clothing,Caps,AWC Logo Cap,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,6.9223,5.0136,0.02,1.4038,8.6442,96.9122,-28.125608,14,68.786592
1,Accessories,Locks,Cable Lock,United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,10.3125,15.0000,0.00,0.0000,25.0000,61.8750,28.125000,6,90.000000
2,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,15.6709,22.7940,0.00,0.0000,37.9900,125.3672,56.984800,8,182.352000
3,Clothing,Gloves,"Full-Finger Gloves, L",United Kingdom,United Kingdom,London,England,Linda Martin,Amy Alberts,1,2012-06-30,15.6709,20.8945,0.05,16.7156,37.9900,250.7344,66.862000,16,317.596400
4,Clothing,Gloves,"Full-Finger Gloves, M",United Kingdom,United Kingdom,Berks,England,Gary Suess,Amy Alberts,1,2012-06-30,15.6709,22.7940,0.00,0.0000,37.9900,109.6963,49.861700,7,159.558000

In [12]:
df = df[['productcategory','productsubcategory','product','Country','OrderDate','StandardCost','Discount','Sales']]

df.rename(columns={"productcategory": "Category","productsubcategory": "Sub-Category","product":"Product","StandardCost": "Cost"}, inplace=True)

df = df[(df['Category']=='Clothing') & (df['Country']=='United States') & (df['Product']=='Classic Vest, M')]

df= df[ (df['OrderDate'] == '2014-05-01')]

In [13]:
df.shape

(15, 8)

In [14]:
# Agrego columna para Ventas Netas

df['Net'] = df['Sales'] - (df['Cost']-df['Discount'])
#convert datetime to date and string
df['OrderDate'] = df['OrderDate'].astype(str)

In [16]:
df.head()

,Category,Sub-Category,Product,Country,OrderDate,Cost,Discount,Sales,Net
2736,Clothing,Vests,"Classic Vest, M",United States,2014-05-01,23.749,0.0,152.4,128.651
20398,Clothing,Vests,"Classic Vest, M",United States,2014-05-01,23.749,0.0,152.4,128.651
20399,Clothing,Vests,"Classic Vest, M",United States,2014-05-01,23.749,0.0,152.4,128.651
20400,Clothing,Vests,"Classic Vest, M",United States,2014-05-01,23.749,0.0,38.1,14.351
20401,Clothing,Vests,"Classic Vest, M",United States,2014-05-01,23.749,0.0,76.2,52.451

In [17]:
df['OrderDate'] = df['OrderDate'].astype(str)

### Guardar en excel

In [19]:
df.to_excel('Ventas_TallaM_EEUU.xlsx', index=False, sheet_name='report')